{% extends 'layout/default.html' %}

{% block body-content %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <!-- <a class="btn btn-info" href="{% url 'secretary:instructor-create' %}">ADD NEW</a> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">username</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users_form %}
          {% if user.is_superuser != True %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td><a href="{% url 'secretary:instructor-update' pk=user.id %}">edit</a></td>
              <td><a href="{% url 'secretary:instructor-delete' pk=user.id %}">delete</a></td>
            </tr>
          {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
