{% extends 'layout/default.html' %}

{% block body-content %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">time</th>
        <th scope="col">price</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for course in course_form %}
        <tr>
          <th scope="row">{{ course.id }}</th>
          <td>{{ course.course_name }}</td>
          <td>{{ course.course_time }}</td>
          <td>{{ course.course_price }}$</td>
          <td><a href="{% url 'secretary:course-detail' pk=course.id %}">read</a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
